/* globals */
:root{
    --header-color: rgba(0, 148, 115, 0.75);
    --book-unread-color: rgba(217, 217, 217, 1);
    --book-read-color: rgba(0, 148, 115, 0.35);
    --read-toggle-color: #FF0000;
    --add-book-color: #ff0000;
    --footer-color: #000;
    --footer-text-color: white;
}

/* hide overflow horizontally */
html{
    max-width: 100%;
    overflow-x: hidden;
}

/* Hide scrollbar */
html::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* headers */
h1, h2, h3,p{
    margin: 0;
    font-weight: 400;
}

/* Header */
header{
    background-color: var(--header-color);
    padding: 1.5rem;
    padding-left: 4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

#logo{
    width: 250px;
    height: auto;
}

/* main */
main{
    flex:1;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

/* add a book */
#addBook{
    z-index: 2;
    position: absolute;
    right: -50px;
    transition: right 0.2s ease-in-out;
    opacity: 0.85;
    user-select: none;
}

#addBook:hover{
    right:0px;
    opacity: 1;
}

form{
    -moz-box-shadow: 10px 4px 100px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 4px 100px 0px rgba(0,0,0,0.2);
    align-self: center;
    border-radius: 25px;
    border: 1px solid #ccc;
    border: none;
    box-shadow: 10px 4px 100px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.75rem;
    height: 30rem;
    justify-self: center;
    justify-content: space-between;
    padding: 6rem 4rem;
    position: absolute;
    width: 35rem;
    z-index: 9;
}

form div:first-child {
    display: flex;
}

.closeForm{
    position: relative;
    top: 0;
    height: auto;
    width: 25px;    
    position: relative;
    top: -50px;
    left:225px;
}


/* class to hide elements */
.hidden{
    display: none;
    visibility: hidden;
}

form h2{
    font-weight: bold;
    font-size: 3rem;

}

.formField{
    margin: 1.5rem;
    display: flex;
}

label{
    font-weight: 600;
    margin-right: 1rem;
    width: 10rem;
}

/* Custom width for Mark as Read label */
#bookReadStatusLabel{
    width: 14rem;
}

input[type="submit"],
input[type="reset"]{
    border: none;
    height: 45px;
    width: 130px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.25);
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]{
    background-color: rgba(0, 148, 115, 0.8);
}

input[type="submit"]:hover{
    background-color: rgba(17, 129, 104, 0.8);
}

input[type="reset"]{
    background-color: rgba(255, 0, 0, 0.59);
}

input[type="reset"]:hover{
    background-color: rgba(182, 13, 13, 0.59);
}

/* remove borders from text inputs */
input[type="text"],
input[type="number"]{
    border:none;
}

/* add bottom borders to text inputs making them look like a line */
input[type="text"],
input[type="number"]{
    border-bottom: 1px solid #00000080;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/* Apply this style to the number input */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
/* Additional style to prevent Webkit browsers from displaying the increment/decrement arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
input[type="number"]{
    outline: none;
}

/* Book card articles */
article{
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal; 
    margin: 1rem;
    padding: 3em;
    height: 21rem;
    width: 13rem;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: var(--book-unread-color);
    transition: transform 0.2s ease-in-out;
    text-overflow: ellipsis;
}

article:hover{
    transform: scale(1.1);
}

article.finishedBook{
    background-color: var(--book-read-color); 
}

.bookTitle{
    font-size: 1rem;
    font-weight: 400;
}

.bookAuthor{
    font-size: 1rem;
    font-weight: 400;
    margin-top:1rem;
}

.bookPagesAndRead{
    padding-top: 9rem;
}


.bookPages{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.bookReadToggle{
    font-size: 1rem;
    color: var(--read-toggle-color);
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.bookDelete{
    height: auto;
    width: 25px;    
    position: relative;
    top: -15px;
    left:200px;
    visibility: hidden;
    transition: visibility 0.1s linear;
}

article:hover .bookDelete {
    visibility: visible; /* Show the delete button when the container is hovered */
  }


/* footer */

footer{
    display: flex;
    background-color: var(--footer-color);
    height: 8rem;
    width: auto;
    color:var(--footer-text-color);
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
}